<%- include('../../parts/header.ejs') %>
    
<%- include('../../parts/sidebar.ejs') %>

<%- include('../../parts/navbar.ejs') %>
<div class="lime-container">
    <div class="lime-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="card bg-info text-white">
                        <div class="card-body">
                            <div class="dashboard-info row">
                                <div class="info-text col-md-6">
                                    <h5 class="card-title">Welcome back Anna!</h5>
                                    <p>Get familiar with dashboard, here are some ways to get started.</p>
                                    <ul>
                                        <li>Check some stats for your website bellow</li>
                                        <li>Sync content to other devices</li>
                                        <li>You now have access to Category, Bank and Booking List.</li>
                                    </ul>
                                    <a href="#" class="btn btn-warning m-t-xs">Learn More</a>
                                </div>
                                <div class="info-image col-md-6"></div>
                            </div>
                        </div>
                    </div>
                </div>                        
            </div>
            <!-- Card -->
            <div class="row">
                <div class="col-md-4">
                    <div class="card stat-card">
                        <div class="card-body">
                            <h5 class="card-title">New Customers</h5>
                            <h2 class="float-right">45.6K</h2>
                            <p>From last week</p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card stat-card">
                        <div class="card-body">
                            <h5 class="card-title">Orders</h5>
                            <h2 class="float-right">14.3K</h2>
                            <p>Orders in waitlist</p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card stat-card">
                        <div class="card-body">
                            <h5 class="card-title">Monthly Profit</h5>
                            <h2 class="float-right">45.6$</h2>
                            <p>For last 30 days</p>
                            
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<%- include('../../parts/script.ejs') %>