<div class="px-2 mt-3">
    <form action="/admin/item" method="POST" enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Title</label>
                <input type="title" class="form-control" name="title" id="title" placeholder="Enter Title" required>
                <small id="emailHelp" class="form-text text-muted">Awali Dengan Huruf Kapital!</small>
            </div>
            <div class="form-group col-md-3">
                <label for="inputPassword4">Price</label>
                <input name="price" id="price" placeholder="Enter Price" class="form-control"
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                type = "number"
                maxlength = "3" required
                />
            </div>
            <div class="form-group col-md-3">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" name="city" id="city" placeholder="Enter City" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-7">
                <label for="name">Description</label>
                <textarea name="about" class="form-control" id="about" rows="3"></textarea>
            </div>
            <div class="form-group col-md-4">
                <label for="name">Category</label>
                <select class="form-control" name="categoryId">
                    <option selected>-- Category --</option>
                    <% for (let i = 0;i < category.length;i ++ ){ %>
                        <option value="<%= category[i].id %>"><%= category[i].name %></option> 
                    <% } %>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="exampleInputEmail1">Upload File</label>
                <input type="file" class="form-control" name="image" placeholder="Enter Name" multiple required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Add Item</button>
    </form>
</div>