<!-- Javascripts -->
        <script src="/template/assets/plugins/jquery/jquery-3.1.0.min.js"></script>
        <script src="/template/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
        <script src="/template/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="/template/assets/plugins/datatables/datatables.min.js"></script>
        <script src="/template/assets/js/custom.js"></script>
        <script src="/template/assets/js/lime.min.js"></script>
    </body>
</html>