<div class="lime-sidebar">
    <div class="lime-sidebar-inner slimscroll">
        <ul class="accordion-menu">
            <li class="sidebar-title">
                Apps
            </li>
            <li class="sidebar-menu">
                <a href="/admin/dashboard"><i class="material-icons">dashboard</i>Dashboard</a>
            </li>
            <li class="sidebar-menu">
                <a href="/admin/category"><i class="material-icons">category</i>Category</a>
            </li>
            <li class="sidebar-menu">
                <a href="/admin/bank"><i class="material-icons">account_balance_wallet</i>Bank</a>
            </li>
            <li class="sidebar-menu">
                <a href="/admin/item"><i class="material-icons">inbox</i>Items</a>
            </li>
            <li class="sidebar-title">
                Order
            </li>
            <li class="sidebar-menu">
                <a href="/admin/booking"><i class="material-icons">shopping_bag</i>Booking</a>
            </li>
        </ul>
    </div>
</div>